$main-bg: #a053c5;
$secondary-bg: #222955;
$main-color: #2a2d3a;
$secondary-color: #6a6464;
$primary-color: #a8acc8;
$grey: #484b64;
$pink: #fa709a;
$blue: #317dc4;
$orange: #fb8f43;
$border:  #d3d3d3;

$box-shadow: 0 1px 25px 1px rgba(69,65,78,0.15);

$mobile-width: 600px;
$tablet-width: 1024px;
$tablet-small-width: 780px;

$colors: (
    "pink": $pink,
    "blue": $blue,
    "orange": $orange,
    "purple": $main-bg
)