.header{
    @include flex(center, space-between);
    padding: 2.2rem 13%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: #fff;
    transition: all 0.5s linear;

    @include tablet{
        padding: 1.5rem 4rem;
    }

    @include mobile{
        padding: 1.5rem 2rem;
    }

    &__bar{
        display: none;
        @include mobile{
            display: inherit;
            font-size:2rem;
        }
    }

    &__logo{
        width: 150px;
    }

    &__menu{
        @include flex(center, space-between);

        i{
            display: none;
        }

        
        @include mobile{
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width:60vw;
            flex-direction: column;
            background-color: #fff;
            justify-content: flex-start;
            align-items: flex-start;
            padding:3rem;
            transition: all 0.3s linear;
            transform: translateX(-100%);

            &.active{
                transform: translateX(0);
            }

            i{
                display: block;
                margin-bottom: 4rem;
                font-size:2.25rem;
                color: $secondary-color;
            }
        }

        &__item{
            font-size:1.5rem;
            color:$grey;
            font-weight: 600;
            padding: 0 1rem;

            @include mobile{
                margin-bottom: 3rem;
                color:$secondary-color;
                padding:0;
            }

            &:hover{
                color:$main-color;
            }
        }

        &__button{
            margin-left: 10rem;

            @include mobile{
                margin-left: 0;
                display: flex;
                flex-direction: column-reverse;
                width: 100%;
                gap:2rem;
            }

            button{
                font-size: 1.5rem;
                font-weight: 600;
                cursor: pointer;
            }

            &__login{
                color:$grey;
                background-color:#fff;
            }

            &__signup{
                color: #fff;
                background-color:$main-bg;
                padding: 1rem 2.5rem;
                margin-left: 2rem;
                @include mobile{
                    margin-left: 0;
                }
            }
        }
    }

    &.active{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        box-shadow: $box-shadow;
    }
}

.mobile-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.4);
    z-index: 1100;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    pointer-events: none;
    z-index: 4;

    &.active{
        opacity: 1;
    }
}